<div ng-controller="shell as vm" class="container-fluid">
    <!-- HEADER -->
    <header class="clearfix">
        <h1>Header</h1>
    </header>

    <!-- MAIN CONTENT -->
    <section id="content" class="content">
        <div ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>

        <!-- MAIN CONTENT -->
        <div ng-view class="shuffle-animation row"></div>
    </section>

    <!-- FOOTER -->
    <footer>
        <h4>Footer</h4>
    </footer>
</div>
